@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Core.PropertyEditors.ValueConverters;

<!-- Latest new Articles-->
@{
	var latestNews = Umbraco.Content(Guid.Parse("f9a1a0d1-aa04-431f-a59b-47ceb20ddb86"))
    .ChildrenOfType("newsArticles")
    .Where(x => x.IsVisible())
    .OrderByDescending(x => x.CreateDate)
    .Take(3);
}


<div class="container mt-4 mb-4">
    <h2>Latest News</h2>
    <div class="row">
        <div class="col">
            <div class="card-deck">
                
              @foreach (var item in latestNews)
                {  
                var imgCropper = item.Value<ImageCropperValue>("articleImage");
                var thumbUrl = imgCropper.Src + imgCropper.GetCropUrl("Thumb");
                
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="@thumbUrl" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title"><a href="@item.Url">@item.Name</a></h5>
                    <p class="card-text">@item.Value("leadIn")</p>
                    
                  </div>
                  <div class="card-footer d-flex justify-content-between">
                      <div><a href="@item.Url">Read More</a></div>
                      <div class="social-icons text-muted">
                          <a class="ml-2 mr-2" href="https://twitter.com/intent/tweet?text=@item.Value("leadIn")&amp;url=@item.Url(null, UrlMode.Absolute)"><i class="fab fa-twitter"></i></a>
                          <a class="ml-2 mr-2" href="https://www.facebook.com/sharer.php?u=@item.Url(null, UrlMode.Absolute)"><i class="fab fa-facebook"></i></a>
                          <a class="ml-2 mr-2" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=@item.Url(null, UrlMode.Absolute)"><i class="fab fa-linkedin"></i></a>
                      </div>
                      
                  </div>
                </div>
                }
                
            </div>
        </div>
    </div>
</div>	
	

